<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextCompare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C88E117C1EA66A92009AF6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C88E11901EA66A92009AF6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C88E119B1EA66A92009AF6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
